.super {
    background-image: url(image/super.jpg);
    background-position: center;
    background-size: cover;
}

.audio {
    background-image: url(image/super-audio.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.super1 {
    background-image: url(image/super.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.btnIngresar {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 8px;
}

.btnCrear {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
    width: 80px;
}

#inicio {
    height: 80px;
    background-color: rgb(54, 108, 116);
    color: aliceblue;
    padding: 15px;
}

.registro-entrada {
    height: 40;
    background-color: rgb(132, 193, 202);
    color: rgb(9, 10, 10);
    font-size: larger;
    padding: 15px;
    font-weight: bold;
}

.iconos {
    background-color: cadetblue;
    padding: 5rem;
}

.reception {
    background-image: url(image/reception.jpg);
    background-size: cover;
    background-position: center;
}

.super-audio {
    background-image: url(image/super-audio.png);
    background-position: center;
    background-size: cover;
}

.form-registrar {
    background-color: rgb(129, 166, 196);
    font-weight: bold;
    color: white;

}

.recuadro_input {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.form-control {
    border: 2px solid rgb(31, 28, 31);
    width: 300px;
}

.btnGuardar {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
}

#btnreestab {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
}

.modalmask {
    position: absolute;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity: 1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox {
    width: 80%;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown {
    margin: 10% auto;
}

.modalmask:target .rotate {
    transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
}

.modalmask:target .resize {
    width: 400px;
    height: 200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;

}

.close:hover {
    background: #FAAC58;
    color: #222;
}

/*
@media(max-width:990px) {
    #super {
        background-size: 100%;
    }
}*/