.super {
    background-image: url(image/super.jpg);
    background-position: center;
    background-size: cover;
}

.audio {
    background-image: url(image/super-audio.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.super1 {
    background-image: url(image/super.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.btnIngresar {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 8px;
}

.btnCrear {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
    width: 80px;
}

#inicio {
    height: 80px;
    background-color: rgb(54, 108, 116);
    color: aliceblue;
    padding: 15px;
}

.registro-entrada {
    height: 40;
    background-color: rgb(132, 193, 202);
    color: rgb(9, 10, 10);
    font-size: larger;
    padding: 15px;
    font-weight: bold;
}

.iconos {
    background-color: cadetblue;
    padding: 5rem;
}

.reception {
    background-image: url(image/reception.jpg);
    background-size: cover;
    background-position: center;
}

.super-audio {
    background-image: url(image/super-audio.png);
    background-position: center;
    background-size: cover;
}

.form-registrar {
    background-color: rgb(129, 166, 196);
    font-weight: bold;
    color: white;

}

.recuadro_input {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.form-control {
    border: 2px solid rgb(31, 28, 31);
    width: 300px;
}

.btnGuardar {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
}

#btnreestab {
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 43, 70);
    padding: 10px;
}



/*Boton de cerrar*/


/*
@media(max-width:990px) {
    #super {
        background-size: 100%;
    }
}*/